<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="http://localhost:3000">Best Course</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex flex-row-reverse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto " >
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="https://www.apple.com/ac/structured-data/images/open_graph_logo.png?201810040211" alt="" class="user-avatar">
          Việt Lê
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="../../courses/create">Tạo mới khóa học</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="../me/stored/courses">Khóa học của tôi</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="../me/courses">Đăng xuất</a>
        </div>
      </li>
      </ul>
    </div>
  </div>
</nav>